
@{
    ViewData["Title"] = "Game";
}

<h1>Game</h1>
<div id="number_of_left_bullets_box">
    <div class="wall_num">Bullets left: <div class="wall_num" id="num">@ViewData["bullets"]</div></div>
</div>
<div class="field" onmouseover="GetPositions()">
    <div class="circle" id="circle">
        </div>
    </div>
<div id="helper"></div>

